.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;

  height: 24px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.font {
  font-family: "Simplon Norm",sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}